<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container" >
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <p>
          <h3 class="text-center">
            <p><b>Mars Hemispheres</b></p>
          </h3>
        </p>
      </div>
      <div class="col-md-2">
          <p>
            <h3 class="text-center">
              <p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a> </p>
            </h3>
          </p>
        </div>
    </div>
    <div class="row">
      <div style="width: 1000px; height: 1px;border-bottom: 1px solid black"></div>
    </div>
    </br>
      <div class="row">
        {% for item in mars_data.hemisphere_image_urls%}
        <div class="col-md-6">
          <div width=25% background-color="white" box-shadow="0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
            <img src="{{item.img_url}}" alt="{{item.title}}" width=55%>
              <div text-align="left"> 
              <p padding="50px"> {{item.title}} </p>
              </div>
          </div> 
        </div>
        {% endfor %}
      </div>
  </div>
</div>
</body>

</html>
